<div class="row pt-5"> <!-- pt-5 moves the card down a little bit so it isn't pushed up against the bottom of the navbar. -->
   <div class="col-md-6 mx-auto">
      <div class="card rounded-0">
         <!-- card header -->
         <div class="card-header">
            <h3 class="mb-0">Register</h3>
         </div> <!-- end card header -->
         <!-- card body -->
         <div class="card-body">
            <form class="form">
               <!-- email form group -->
               <div class="form-group">
                  <label for="">Email</label>
                  <!-- the ngModel directive creates two-way binding with the input from the user and the registerUserData property in the component class,RegisterComponent. -->
                  <input [(ngModel)]="registerUserData.email"                name="email" 
                     type="text" 
                     class="form-control rounded-0" 
                     required>
               </div> <!-- end Email form-group-->
               <!-- password form-group -->
               <div class="form-group">
                  <label for="">Password</label>
                  <input [(ngModel)]="registerUserData.password"             name="password" 
                     type="password" 
                     class="form-control rounded-0" 
                     required>
               </div> <!-- end password form group-->
               <button (click)="registerUser()" class="btn btn-primary float-right" type="button">Register</button>
            </form>
         </div>
      </div>
   </div>
</div>
